{% extends 'officer/officerbase.html' %}
{% load static %}
{% block content %}
<div class="w3l-contact-10 py-5" id="contact">
    <div class="form-41-mian py-md-5 py-3">
        <div class="container">
            <div class="heading">
                <h2 class="title-subhny mb-2"><center><b>Notification</b></center></h2>
            </div>
            
            <div class="form-inner-cont pt-lg-5">

                <form method="post" class="signin-form">
                    {% csrf_token %}
                    <table class="table table-bordered"> 
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>comment</th>
                        <th colspan="2">Acton</th>
                        
                    </tr>
                    {% for i in view %}
                    {% if i.status == "unread" %}
                    <tr>
                        <td>{{i.uid.name}}</td>
                        <td>{{i.uid.email}}</td>
                        <td>{{i.uid.phone}}</td>
                        <td>{{i.comment}}</td>
                        <td><a href="/notificationaction?id={{i.id}}&status=read" class="btn btn-primary">view</a></td>
                        
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                </form>
            </div>
        </div>
    </div>
    <!-- //contacts-5-grid -->
</div>

<div class="w3l-contact-10 py-5" id="contact">
    <div class="form-41-mian py-md-5 py-3">
        <div class="container">
            <div class="heading">
                <h2 class="title-subhny mb-2"><center><b>Viewed Notification</b></center></h2>
            </div>
            
            <div class="form-inner-cont pt-lg-5">

                <form method="post" class="signin-form">
                    {% csrf_token %}
                    <table class="table table-bordered"> 
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>comment</th>
                        <th colspan="2">Acton</th>
                        
                    </tr>
                    {% for i in view %}
                    {% if i.status == "read" %}
                    <tr>
                        <td>{{i.uid.name}}</td>
                        <td>{{i.uid.email}}</td>
                        <td>{{i.uid.phone}}</td>
                        <td>{{i.comment}}</td>
                        <td><a href="/deletenotification?nid={{i.id}}" class="btn btn-danger">delete</a></td>
                        
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                </form>
            </div>
        </div>
    </div>
    <!-- //contacts-5-grid -->
</div>

{% endblock%}