{% extends 'staff/staffbase.html' %}
{% load static %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://ichef.bbci.co.uk/news/1024/media/images/66070000/jpg/_66070411_66070348.jpg" class="card-img-top" style="height:500px;width:auto;" alt="Skyscrapers"/>
        <div class="card-body">
            <center>
          <h3 class="card-title">Entertainment</h3>
            </center>
       
        </div>
        <div class="card-footer">
            <center>
         <a href="/staffviewentertainmentnews" class="btn btn-primary">view news</a>
            </center>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://tse4.mm.bing.net/th?id=OIP.p9ilvPL5P4HtDgb68hAswgHaJ4&pid=Api&P=0&h=220" class="card-img-top" style="height:500px;width:auto;" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
            <center>
          <h3 class="card-title">Science</h3>
            </center>
       
        </div>
        <div class="card-footer">
            <center>
         <a href="/staffviewsciencenews" class="btn btn-primary">view news</a>
            </center>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://www.ase.org.uk/sites/default/files/Health%20News.jpg" class="card-img-top" style="height:500px;width:auto;" alt="Palm Springs Road"/>
        <div class="card-body">
            <center>
          <h3 class="card-title">Health</h3>
            </center>
       
        </div>
        <div class="card-footer">
            <center>
         <a href="/staffviewhealthnews" class="btn btn-primary">view news</a>
            </center>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://i.ytimg.com/vi/7JXKL2L46xk/maxresdefault.jpg" class="card-img-top" style="height:500px;width:auto;" alt="Skyscrapers"/>
        <div class="card-body">
            <center>
          <h3 class="card-title">Business</h3>
            </center>
       
        </div>
        <div class="card-footer">
            <center>
         <a href="/staffviewbusinessnews" class="btn btn-primary">view news</a>
            </center>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://tse4.mm.bing.net/th?id=OIP.dhHvgkp6v3ZE-Mb1-0adFAHaEK&pid=Api&P=0&h=220" class="card-img-top" style="height:500px;width:auto;" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
            <center>
          <h3 class="card-title">Foods</h3>
            </center>
       
        </div>
        <div class="card-footer">
            <center>
         <a href="/staffviewfoodnews" class="btn btn-primary">view news</a>
            </center>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://tse4.mm.bing.net/th?id=OIP.wnFsC3GUyF1ixAqqzzQdwwHaF5&pid=Api&P=0&h=220" class="card-img-top" style="height:500px;width:auto;" alt="Palm Springs Road"/>
        <div class="card-body">
            <center>
          <h3 class="card-title">Corporate</h3>
            </center>
       
        </div>
        <div class="card-footer">
            <center>
         <a href="/staffviewcorporatenews" class="btn btn-primary">view news</a>
            </center>
        </div>
      </div>
    </div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://tse1.mm.bing.net/th?id=OIP.EOVMzADxDwnNfF1rXMYlogHaE8&pid=Api&P=0&h=220" class="card-img-top" style="height:500px;width:auto;" alt="Skyscrapers"/>
        <div class="card-body">
            <center>
          <h3 class="card-title">Travel</h3>
            </center>
       
        </div>
        <div class="card-footer">
            <center>
         <a href="/staffviewtravelnews" class="btn btn-primary">view news</a>
            </center>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://news.lk/media/k2/items/cache/1cbdfb6436cb293066925767f2a0c9d3_XL.jpg" class="card-img-top" style="height:500px;width:auto;" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
            <center>
          <h3 class="card-title">Education</h3>
            </center>
       
        </div>
        <div class="card-footer">
            <center>
         <a href="/staffvieweducationnews" class="btn btn-primary">view news</a>
            </center>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://img.onmanorama.com/content/dam/mm/en/travel/outside-kerala/images/2021/2/27/election-watch-main.jpg" class="card-img-top" style="height:500px;width:auto;" alt="Palm Springs Road"/>
        <div class="card-body">
            <center>
          <h3 class="card-title">Politics</h3>
            </center>
       
        </div>
        <div class="card-footer">
            <center>
         <a href="/staffviewpoliticalnews" class="btn btn-primary">view news</a>
            </center>
        </div>
      </div>
    </div>
</div> 
{% endblock %}